{%extends 'base.html'%}
{% load static %}
{%block content %}

    <h2>Add Customer and update </h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

     
        <label for="name">Name:</label><br>
        <input type="text" id="name" name='name'><br>

        <label for="description">Description:</label><br>
        <input type="text" id="description" name="description"><br><br>

        <label for="price">Price:</label><br>
        <input type="text" id="price" name="price"><br><br>

        <label for="img">Image:</label><br>
        <input type="file" class="form-control" id="image" name="image"><br><br>
        <button type="submit">Submit</button>
    </form>
{%endblock%}